.LoginDiv1 {
    margin-top: 100px;
    background: linear-gradient(#00796B, #00bb7b);
    width: 100% !important;
    height: 100% !important;
    padding: 10%;
}

/* .body {
    height: 100%;
    width: 100%;
} */